.imglogo{
    width: 80px;
    height: 64px;
    margin: 32px 60px;
}
.sider-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;   /* Đẩy logout xuống đáy */
  padding: 20px 0;
}
/* Menu tổng */
.sidebar-menu {
  border-inline-end: none;
  font-size: 16px;
}

/* Item menu */
.sidebar-menu .ant-menu-item,
.sidebar-menu .ant-menu-submenu-title {
      color: #7E7D88;
  height: 48px;
  line-height: 48px;
  margin: 0 !important;               
  padding: 0 16px !important;        
  width: 100%;
  box-sizing: border-box;              
  border-radius: 0 !important;
}

/* Hover */
.sidebar-menu .ant-menu-item:hover,
.sidebar-menu .ant-menu-submenu-title:hover {
  background-color: #fff2e8;
  color: #FF7506;
}

/* Active */
.sidebar-menu .ant-menu-item-selected {
  background-color: #FF7506 !important;
  color: #fff !important;
  font-weight: 500;
}

/* Icon */
.sidebar-menu .ant-menu-item svg,
.sidebar-menu .ant-menu-submenu-title svg {
  width: 20px;
  height: 20px;
}

/* Hover submenu icon */
.sidebar-menu .ant-menu-submenu-title:hover svg {
  fill: #FF7506;
}

/* Submenu item */
.sidebar-menu .ant-menu-submenu .ant-menu-item {
  padding-left: 48px !important;       
}

/* ===== SUBMENU POPUP FIX ===== */

/* Text */
.ant-menu-submenu-popup .ant-menu-item {
  color: #7E7D88 !important;
}

.ant-menu-submenu-popup .ant-menu-item:hover {
  color: #FF7506 !important;
  background-color: #fff2e8 !important;
}

.ant-menu-submenu-popup .ant-menu-item-selected {
  background-color: #FF7506 !important;
}

.ant-menu-submenu-popup .ant-menu-item-selected,
.ant-menu-submenu-popup .ant-menu-item-selected .ant-menu-title-content {
  color: #ffffff !important;
}

/* Icon */
.ant-menu-submenu-popup svg {
  fill: #7E7D88;
  stroke: #7E7D88;
}

.ant-menu-submenu-popup .ant-menu-item:hover svg {
  fill: #FF7506;
  stroke: #FF7506;
}

.ant-menu-submenu-popup .ant-menu-item-selected svg {
  fill: #ffffff !important;
  stroke: #ffffff !important;
}

/* Ellipsis */
.ant-menu-submenu-popup .ant-menu-title-content {
  display: block;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* RESET DARK THEME ANT DESIGN */
.ant-layout {
  background: #f6f6f6 !important;
}

.ant-layout-header {
  background: #f6f6f6 !important;
}

/* Header Alta */
.header-alta {
  background: #f6f6f6 !important;
  height: 64px !important;
  line-height: 64px !important;
  padding: 0 24px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
  .logout-button {
    width: 176px;
    height: 48px;
    margin: 16px;
    background-color: #fff2e7 !important;
    border: none !important;
    color: #ff9138 !important;
    font-weight: 600;
  }
  