/* ===== CẤP SỐ MỚI ===== */

.center-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 60px 40px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}

.queue-title {
  color: #ff7506;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.queue-subtitle {
  font-size: 18px;
  color: #535261;
  margin-bottom: 24px;
}

.queue-actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.btn-submit {
  background: #ff7506;
  color: #fff;
  border-radius: 8px;
  height: 44px;
  width: 120px;
  border: none;
}

.btn-submit:hover {
  background: #ff8a33;
}

.btn-cancel {
  border-radius: 8px;
  height: 44px;
  width: 120px;
  border: 1px solid #ff7506;
  color: #ff7506;
  background: #fff;
}
/*  */
/* ===== LAYOUT ===== */
.page-layout {
  display: flex;
}

/* ===== CARD ===== */
.detail-card {
  flex: 1;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.card-title {
  color: #ff7506;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* ===== GRID ===== */
.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.detail-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-item {
  display: flex;
  gap: 8px;
}

.detail-label {
  min-width: 140px;
  color: #282739;
  font-weight: 600;
}

.detail-value {
  color: #535261;
}

/* ===== STATUS ===== */
.status {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.status .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status.waiting .dot {
  background: #4277ff;
}

/* ===== ASIDE ===== */

.btn-back {
  width: 100%;
  height: 44px;
  background: #fff2e7;
  border: none;
  color: #ff7506;
  font-weight: 600;
}