

/* TOÀN BỘ LAYOUT */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #fff;
  border-right: 1px solid #eee;
}

/* BÊN PHẢI */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  height: 64px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 24px;
  background: #f9f9f9;
  overflow-y: auto;
}
