.header-alta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 24px;
  background-color: transparent; /* Hoặc #F6F6F6 tùy background chung */
}

/* Breadcrumb */
.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.breadcrumb-item-parent {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #7E7D88;
}

.breadcrumb-separator {
  width: 16px;
  height: 16px;
 
  object-fit: contain; 
  display: block;
}

.breadcrumb-item-active {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FF7506;
}

/* Right Section */
.header-right {
  display: flex;
  align-items: center;
margin-right: 30px;
  gap: 24px;
}

.bell-icon-wrapper {
  position: relative;
  background: #FFF2E7;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bell-icon {
  color: #FF9138;
  display: flex;
}

.bell-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #FF4D4F;
  border-radius: 50%;
  border: 1px solid white;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  gap: 8px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.hello-text {
  font-size: 12px;
  color: #7E7D88;
  line-height: 18px;
}

.user-name {
  font-weight: 700;
  font-size: 16px;
  color: #535261;
  line-height: 24px;
}